@use 'common' as *;

.pinkRow{
  min-height: 400px;
  height: auto;
  padding: 30px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  @include Phone{
    padding: 16px;
  }
}

.rowBody{
  max-width: $max-width;
  width: 100%;
  min-height: inherit;
  display: flex;
  justify-content: center;
  flex-direction: column;
      color: white;
     h2, h1{
        text-align: center;
      }
}

.passingLayer{
  min-height: 400px;
  border-top: 2px solid white;
  background: linear-gradient(rgba($pink,.2), rgba($pink,0)), url('/images/whimsy-bg.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}