@use 'common' as *;

.body {
  overflow-x: hidden;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: inherit;

}


.rowBody {
  max-width: $max-width;
  width: 100%;
  box-sizing: border-box;
  min-height: inherit;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  overflow-x: hidden;

  h2,
  h1 {
    text-align: center;
  }
}

.pinkRow {
  @include DefaultMin;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  @include WhimsyBackground;
  padding: 60px 30px;

  @include Phone {
    padding: 16px;
    width: 100vw
  }

  .rowBody {
    @include Desktop {
      width: 50%;
    }
  }
}