@use 'common' as *;

.body {
  overflow-x: hidden;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: inherit;

}


.rowBody {
  max-width: $max-width;
  width: 100%;
  box-sizing: border-box;
  min-height: inherit;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  overflow-x: hidden;

  @include DesktopXL {
    text-align: left;
  }
}

.featuredButton {
  width: max-content;
  background-color: $pink;
  outline: none;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 1em;

  &:hover {
    background-color: rgba($pink, .8)
  }
}

.whimsy {
  @include DefaultMin;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  justify-content: flex-start;
  box-sizing: border-box;
  @include WhimsyBackground;
  padding: 60px 30px;

  @include Phone {
    padding: 16px;
    width: 100vw
  }


  .rowBody {
    @include DesktopXL {
      width: 50%;
    }
  }
}

.photoCredit {
  color: rgba(white, .8);
  position: absolute;
  bottom: 8px;
  right: 8px;

  &:hover {
    color: white;
  }
}