@use 'common' as *;

.rowBody {
  max-width: $max-width;
  width: 100%;
  box-sizing: border-box;
  min-height: inherit;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  overflow-x: hidden;


  @include Phone {
    justify-content: flex-end;
  }

  h2,
  h1 {
    @include DesktopXL {
      text-align: left;
    }

    text-align: center;
  }

  h2,
  h1,
  p {
    @include Phone {
      background-color: rgba($pink, .7);
      border-radius: 8px;
    }
  }

  p {
    padding: 16px;
  }

  @include DesktopXL {
    width: 50%;
  }
}

.thorne {
  @include DefaultMin;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  justify-content: flex-end;
  box-sizing: border-box;
  @include ThorneBackground;
  padding: 60px 30px;

  @include Phone {
    padding: 16px;
    width: 100vw
  }
}


.mandyn {
  @include DefaultMin;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  justify-content: flex-end;
  box-sizing: border-box;
  @include MandynBackground;
  padding: 60px 30px;

  @include Phone {
    padding: 16px;
    width: 100vw
  }
}

.david {
  @include DefaultMin;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  justify-content: flex-start;
  box-sizing: border-box;
  @include DavidBackground;
  padding: 60px 30px;

  @include Phone {
    padding: 16px;
    width: 100vw
  }
}

.kenzie {
  @include DefaultMin;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  justify-content: flex-start;
  box-sizing: border-box;
  @include KenzieBackground;
  padding: 60px 30px;

  @include Phone {
    padding: 16px;
    width: 100vw
  }
}

.graham {
  @include DefaultMin;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  justify-content: flex-start;
  box-sizing: border-box;
  @include GrahamBackground;
  padding: 60px 30px;

  @include Phone {
    padding: 16px;
    width: 100vw
  }
}