@use 'common' as *;

.rowBody {
  max-width: $max-width;
  width: 100%;
  box-sizing: border-box;
  min-height: inherit;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  overflow-x: hidden;

  h2,
  h1 {
    @include DesktopXL {
      text-align: left;
    }

    text-align: center;
  }

  @include DesktopXL {
    width: 50%;
  }
}

.mandyn {
  @include DefaultMin;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  justify-content: flex-end;
  box-sizing: border-box;
  @include MandynBackground;
  padding: 60px 30px;

  @include Phone {
    padding: 16px;
    width: 100vw
  }
}