@use 'colors' as *;
@use 'variables' as *;

/**
 * Viewport mixins
 * ---------------
 */
@mixin Phone {
  @media screen and (max-width: 767px) {
    $footer-height: 300px !important;
    @content;
  }
}



@mixin PhoneHorizontal {
  @media screen and (max-width: 767px) and (orientation: landscape) {
    $footer-height: 300px !important;
    @content;
  }
}

@mixin Horizontal {
  @media screen and (orientation: landscape) {
    @content;
  }
}

@mixin PhoneUp {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin TouchScreenDevice {

  @media (pointer:none),
  (pointer:coarse) {
    @content;
  }
}

@mixin Tablet {
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    @content;
  }
}

@mixin TabletPortrait {
  @media screen and (min-width: 768px) and (orientation: portrait) and (max-width: 1024px) {
    @content;
  }
}

@mixin TabletHorizontal {
  @media screen and (min-width: 768px) and (orientation: horizontal) and (max-width: 1024px) {
    @content;
  }
}

@mixin TabletUp {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin TabletDown {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

@mixin Desktop {
  @media screen and (min-width: 1025px) {
    @content;
  }
}

@mixin DesktopOnly {
  @media screen and (min-width: 1025px) and (max-width: 1199px) {
    @content;
  }
}

@mixin DesktopXL {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

/**
 * Style mixins
 * ------------
 */

@mixin clear-list-properties {
  list-style: none;
  margin-block-end: 0px;
  margin-block-start: 0px;
  padding-inline-start: 0px;
}

@mixin PWA {
  @media all and (display-mode: standalone) {
    @content;
  }

  @media all and (display-mode: minimal-ui) {
    @content;
  }

  @media all and (display-mode: fullscreen) {
    @content;
  }
}

@mixin Browser {
  @media screen and (display-mode: browser) {
    @content;
  }
}

@mixin BarWrap {
  min-height: 400px;
  height: auto;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-top: 2px solid white;

  @include Phone {
    padding: 16px;
  }
}

@mixin BodyWrap {
  max-width: $max-width;
  width: 100%;

  min-height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;

  h2,
  h1 {
    text-align: center;
  }
}

@mixin DefaultMin {
  min-height: 100vh;
}

@mixin PinkMusicBackground {
  background: linear-gradient(rgba($pink, .7), rgba($pink, .7)), url('/images/music-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@mixin WhimsyBackground {
  background-image: url('/images/whimsybanner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
  background-attachment: fixed;

  @include Phone {
    background-position: center right -100px;
  }
}

@mixin GrahamBackground {
  background-image: url('/images/graham-banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;

  @include Phone {
    background-position: center right -300px;
  }

  background-attachment: fixed;
}


@mixin KenzieBackground {
  background-image: url('/images/kenzie-banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;

  @include Phone {
    background-position: center right -100px;
  }

  background-attachment: fixed;
}


@mixin DavidBackground {
  background-image: url('/images/david-banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;

  @include Phone {
    background-position: center right -200px;
  }

  background-attachment: fixed;
}

@mixin MandynBackground {
  background-image: url('/images/mandyn-banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center left;
  background-attachment: fixed;


  @include Phone {
    background-position: center left -100px;
  }
}

@mixin ThorneBackground {
  background-image: url('/images/thorne-banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center left;
  background-attachment: fixed;


  @include Phone {
    background-position: center left -100px;
  }
}

@mixin PurpleMusicBackground {
  background: linear-gradient(rgba(#cc75ff, .7), rgba(#cc75ff, .7)), url('/images/bg-lav-music.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@mixin PassingLayer {
  border-top: 2px solid white;
  background: linear-gradient(rgba($pink, .6), transparent, rgba($purple, .6)), url('/images/whimsy-bg.jpg');
  background-position: left;
  background-size: cover;
  background-attachment: fixed;
}

// Font related mixins 
@mixin headerGutterReset {
  margin-block-end: 0em;
  margin-block-start: 0em;
}

@mixin SparkleBackground {
  background-image: url('/images/bg.png');
  background-position: center;
  background-size: cover;
}


// Transition Effect Mixins

@mixin Transition($duration, $style) {
  -webkit-transition: $duration $style;
  -moz-transition: $duration $style;
  -o-transition: $duration $style;
  transition: $duration $style;
}

@mixin TransitionAdvanced($duration, $style, $component) {
  -webkit-transition: $duration $component $style;
  -moz-transition: $duration $component $style;
  -o-transition: $duration $component $style;
  transition: $duration $component $style;
}

@mixin TransitionQuick {
  @include TransitionAdvanced(.5s, ease-in-out, all)
}



@mixin TruncateText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin NoSelect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

@mixin ShadowItem {
  border: .5px solid rgba(white, .2);
  box-shadow: -3px 3px 8px rgba(0, 0, 0, .9);
}