//Variables for mobile insets
$bottom-gap: env(safe-area-inset-bottom);
$top-gap: env(safe-area-inset-top);

$footer-height: 75px;
$max-width: 900px;
$max-body-width: calc(100vw - calc(100vw - 100%));