// Global Mixins
@use 'common' as *;

// Global Component Styling
@use "@/styles/buttons.scss";

* {
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  @include font-regular;
  margin: 0;
}

h2 {
  font-size: 32px;
}

h1 {
  font-size: 40px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

body {
  margin: 0;
  @include PinkMusicBackground;
  background-color: $pink;
  min-height: 100vh;
  padding: 0;
}


.main {
  min-height: calc(100vh - $bottom-gap - $footer-height - 100px);
}