// Global Mixins
@use 'common' as *;
@use 'mixins' as *;

// Global Component Styling
@use "@/styles/buttons.scss";

* {
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1,h2,h3,h4,h5{
    @include font-regular;
    margin: 0;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  background-color: $pink;
}

.icon-button{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $pink;
  padding: 5px;
  border-radius: 5px;
  &:hover{
    background-color: rgba(white, .7);
  svg path{
    fill: $pink;
  }
}
}
.main {
  min-height: calc(100vh - $bottom-gap - $footer-height);
}

