// Global Mixins
@use 'common' as *;
@use 'mixins' as *;

// Global Component Styling
@use "@/styles/buttons.scss";

* {
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
}

body {
  position: relative;
  .bg-video{
position: fixed;
top: 0;
height: 100dvh;
left: 0;
  object-fit: contain;
  z-index: -1;
  }
  margin: 0;
  background-color: black;
  overflow-x: hidden;
  width: 100vw;
    background-image: url('/images/bg.png');
    background-position: center;
    background-size: cover;
}

.main {
  min-height: calc(100vh - $bottom-gap);
}