@use 'common' as *;
.wrap{
  display: flex;
  align-items: center;
  justify-content: center;
flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  overflow-y: hidden;
  border-bottom: 2px solid black;
  @include Desktop{
    box-sizing: border-box;
    height: 600px;
  }
.component{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  .logo{
        width: 100%;
        box-sizing: border-box;
        max-width: 800px;
        max-height: 100%;
  }
}

  .bgVideo{
    z-index: -1;
position: absolute;
top: 0;
left: 0;
  object-fit: cover;
  height: inherit;
  width: 100vw;
  }
.whimsy{
  display: none;

  @include Desktop{
display: revert;
  height: 500px;
  }
  position: absolute;
  left: 10px;
  bottom: 0;
  &.right{
      left: auto;
  right: 10px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  }

}
}