@use 'mixins' as *;
.wrap{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100dvh;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: relative;
.component{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  .logo{
        width: 100%;
        box-sizing: border-box;
        max-width: 800px;
  }
}
.whimsy{
  display: none;

  @include Desktop{
display: revert;
width: 200px;
  }
  @include DesktopXL{
    width: unset;
  height: 70dvh;
  }
  position: fixed;
  left: 0;
  bottom: 0;
  &.right{
      left: auto;
  right: 0;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  }

}
}