@use "common" as *;


.footer {
  @include Desktop {
    height: $footer-height;
  }

  display: flex;
  justify-content: space-between;
  width: $max-body-width;
  overflow-x: hidden;
  align-items: center;
  column-gap: 16px;
  padding: 16px;
  box-sizing: border-box;
  color: black;

  @include Phone {
    column-gap: .5em;
  }


  >div,
  >nav {
    box-sizing: border-box;
    width: 50%;
    display: flex;
    flex-direction: row;
    column-gap: .5em;
  }

  >div {
    justify-content: flex-end;
    align-items: center;

    @include Phone {
      justify-content: center;
    }
  }

  nav {
    justify-content: flex-start;
  }

  a {

    &.openMenu {
      background-color: white;
      color: $pink;
      border: 2px solid $pink;
    }

    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    background-color: $pink;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    height: 35px;
    box-sizing: border-box;
    column-gap: 8px;

    span {
      display: none;
    }

    &:hover {
      color: $pink;

      span {
        display: revert;
        color: $pink;

        @include Phone {
          display: none;
        }
      }

      background-color: rgba(white, .7);

      svg path {
        fill: $pink;
      }
    }
  }

  @include SparkleBackground;
  border-top: 2px solid white;
}

.qcButton {
  background-color: transparent;
  border: none;
  width: max-content;
  white-space: nowrap;
  background-color: $pink;
  font-size: 16px;
  border-radius: 5px;

  &:hover {
    color: $pink;

    span {
      display: revert;
      color: $pink;
    }

    background-color: rgba(white, .7);
  }
}